# Importing Liabraries

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.axes as ax

In [3]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

### About Data file

To construct the data, seven geometric parameters of wheat kernels were measured:

area A,
perimeter P,
compactness C = 4piA/P^2,
length of kernel,
width of kernel,
asymmetry coefficient
length of kernel groove.

In [4]:
features = {'A':'area',
            'P':'perimeter',
            'C':'compactness',
            'LK':'length',
            'WK':'width',
            'A_Coef':'asymmetry',
            'LKG':'length_kernel_groove'}

## Loading Data

In [5]:
data = pd.read_csv('Seed_Data.csv')

In [6]:
data.rename(columns=features)

,area,perimeter,compactness,length,width,asymmetry,length_kernel_groove,target
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,0
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,0
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,0
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,0
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,0
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,2
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,2
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,2
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,2
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,2

In [7]:
data.head()

       A      P       C     LK     WK  A_Coef    LKG  target
0  15.26  14.84  0.8710  5.763  3.312   2.221  5.220       0
1  14.88  14.57  0.8811  5.554  3.333   1.018  4.956       0
2  14.29  14.09  0.9050  5.291  3.337   2.699  4.825       0
3  13.84  13.94  0.8955  5.324  3.379   2.259  4.805       0
4  16.14  14.99  0.9034  5.658  3.562   1.355  5.175       0

<font color = 'red'> <b> Depending on parameters we need to Predict TARGET column

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       210 non-null    float64
 1   P       210 non-null    float64
 2   C       210 non-null    float64
 3   LK      210 non-null    float64
 4   WK      210 non-null    float64
 5   A_Coef  210 non-null    float64
 6   LKG     210 non-null    float64
 7   target  210 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 13.2 KB

<font color = 'red'> <b> No column have NULL value all have 210 entries

## Counting Unique Values

In [9]:
data['target'].unique()

array([0, 1, 2], dtype=int64)

In [10]:
data['target'].value_counts()

0    70
1    70
2    70
Name: target, dtype: int64

<font color = 'red'> <b> Have 3 unique values 0,1,2 and all of equal quanity Perfect_Dataset

## Splitting Data

In [11]:
x = data.drop(data.columns[[7]],axis = 1)
y = data['target']

In [12]:
x.head()

       A      P       C     LK     WK  A_Coef    LKG
0  15.26  14.84  0.8710  5.763  3.312   2.221  5.220
1  14.88  14.57  0.8811  5.554  3.333   1.018  4.956
2  14.29  14.09  0.9050  5.291  3.337   2.699  4.825
3  13.84  13.94  0.8955  5.324  3.379   2.259  4.805
4  16.14  14.99  0.9034  5.658  3.562   1.355  5.175

In [17]:
#now splitting x and y in 2 form 

from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, train_size=0.25, random_state=0)

In [18]:
print(xtrain.shape)
print(ytrain.shape)

print(xtest.shape)
print(ytest.shape)

(52, 7)
(52,)
(158, 7)
(158,)

<font color = 'red'> <b> From x.head we can see our data have diffrent distribution so we need to do DataScaling

# Feature Scaling

In [19]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()

In [20]:
xtrain = sc_x.fit_transform(xtrain)

xtest = sc_x.transform(xtest)
#here not using fit because we want to fit accordingly to prefiusly fitted data

In [23]:
xtest

array([[-0.33246699, -0.41435373,  0.92091599, ..., -0.15598082,
         0.05387316, -1.48878448],
       [ 0.51682718,  0.52492104,  0.64078514, ...,  0.53872953,
         1.16981524,  0.89564773],
       [-0.31638188, -0.30761796,  0.17390039, ..., -0.28299875,
        -1.29016574, -0.91668779],
       ...,
       [-0.79250134, -0.84841253,  0.06577971, ..., -0.62776172,
         0.77642039, -0.63481533],
       [ 0.24659722,  0.10509368,  1.79571057, ...,  0.66056306,
        -1.66912408, -0.84569769],
       [-0.03971787, -0.05856783,  0.64078514, ...,  0.07472523,
        -0.57700224, -0.29656837]])

# <font color = ' green'><b> Logestic Regression

## Traning Model

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
lr_classifier = LogisticRegression()
lr_classifier.fit(xtrain,ytrain)

LogisticRegression()

## Predicting test_input

In [27]:
y_predict = lr_classifier.predict(xtest)

## Result

In [30]:
from sklearn.metrics import confusion_matrix

In [31]:
cm = confusion_matrix(ytest,y_predict)

In [32]:
cm

array([[45,  1, 10],
       [ 3, 51,  0],
       [ 0,  0, 48]], dtype=int64)

## Accuracy

In [33]:
from sklearn.metrics import accuracy_score

accuracy_score(ytest,y_predict)

0.9113924050632911

<font color = 'red'> it showes that model is 91.13 percent accurate